(
    tasks: [
        (
            id: "camera-source",
            type: "tasks::CameraSource",
            config: { "device": "/dev/video0", "width": 320, "height": 320 }
        ),
        (
            id: "cat-detector",
            type: "tasks::CatDetector"
        ),
        (
            id: "servo-sink",
            type: "tasks::ServoSink"
        )
    ],
    cnx: [
        (
            src: "camera-source",
            dst: "cat-detector",
            msg: "crate::tasks::CameraFrame"
        ),
        (
            src: "cat-detector",
            dst: "servo-sink",
            msg: "crate::tasks::CatDetection"
        )
    ],
)